[Unit]
Description=Consul service discovery agent
Requires=network-online.target
After=network.target

[Service]
User=consul
Group=consul
PIDFile=/opt/consul/consul.pid
Restart=on-failure
Environment=GOMAXPROCS=2
ExecStartPre=[ -f "/opt/consul/consul.pid" ] && /usr/bin/rm -f /opt/consul/consul.pid
#ExecStart=/usr/local/bin/consul agent -pid-file=/opt/consul/consul.pid -config-dir=/etc/consul.d
ExecStart=/usr/local/bin/consul agent -client 0.0.0.0 -pid-file=/opt/consul/consul.pid -config-dir=/etc/consul.d
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target